.navigation{
    background-color:rgb(6, 27, 47);
    color: white;
    padding: .5em;
    font-size: .9em;
    text-align: center;
}

.overallMargin{
    margin: 1em;
}


.section1{
    text-align: center;
    border-style: solid;
    border-width: 0px 0px 5px 0px;
    
}

.form-example{
    margin-top: 1em;
}

::placeholder{
    text-align: right;
    padding-right: 1em;
    font-size: smaller;
}

body{
    margin: 0;
}

legend{
    
    padding-top: 1em;
    margin-top: 4px;
    border-style: solid;
    border-width: 3px 0px 0px 0px;
}

label{
    color: grey;
}



p{
    color: grey;
    margin-bottom: 2em;
}

h4{
    color: grey;
}

input[type=text]{
    margin-top: 10px;
    border-radius: 5px ;
    width: 100%;
    height: 30px;
    background-color: lightgray;
    opacity: .5;
}

/*https://stackoverflow.com/questions/16156594/how-to-change-border-color-of-textarea-on-focus
  *Solution contributed by adrift
*/
input[type=text]:focus{
    outline: none !important;
    border:1px solid navy;
    box-shadow: 0 0 10px rgb(4, 42, 83);
}

/*https://stackoverflow.com/questions/16156594/how-to-change-border-color-of-textarea-on-focus
  *Solution contributed by adrift
*/
input[type=email]:focus{
    outline: none !important;
    border:1px solid navy;
    box-shadow: 0 0 10px rgb(4, 42, 83);
}


#states:focus{
    outline: none !important;
    border:1px solid navy;
    box-shadow: 0 0 10px rgb(4, 42, 83);
}



input[type=email]{
    border-radius: 5px ;
    margin-top: 10px;
    width: 100%;
    height: 30px;
    background-color: lightgray;
    opacity: .5;
}

input[type=checkbox]{
    margin-bottom: 15px;
}

input[type=radio]{
    margin-bottom: 15px;
}

button[type=submit]{
    margin-top: 1.25em;
    color: white;
    background-color: teal;
    opacity: .8;
    border-radius: 5px;
    width: 100%;
    height: 3.5em;
    font-size: 1em;
    

}

footer{
    margin-top: 1.3em;
    text-align: center;
}




select{
    border-radius: 5px ;
    width: 100%;
    height: 35px;
    background-color: lightgray;
    opacity: .4;
}

textarea{
    height:6em;
    width: 100%;
    background-color: lightgray;
    border-radius: 5px ;
    opacity: .5;

}

#zip{
    width:50%;
    margin-bottom: 2em;
}






@media(min-width: 768px){
    body{
        text-align: center;
    }





} 

